body {
    margin: 0;
    padding: 0;
}

/* IMAGE */
.bg {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0px;
    left: 0px;
    background: url(img_code.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -2;
}

/* NAVBAR */
.nav {
    height: 3.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

/* LOGO */
.nav_logo {
    font-size: 1.5rem;
    margin: auto 1rem;
}

.nav_menu ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.nav_menu ul li {
    list-style: none;
}

.nav_menu ul li a {
    text-decoration: none;
    color: #fff;
    padding: 1rem;
    display: block;
}

.nav_menu li:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

/* ICON HAMBURGER */
.nav_hamburger {
    width: 1.875rem;
    height: 1.313rem;
    /* display: flex; lho cambiata dopo, appena ho fatto @media screen di nav_hamburger */
    display: none;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.nav_hamburger_line {
    height: 0.118rem;
    width: 100%;
    background-color: #fff;
    border-radius: 0.625rem;
    transition: all ease-in-out 0.2s;
}

/* RESPONSIVE */
@media screen and (max-width: 550px) {

    .nav_hamburger {
        display: flex;
    }

    /* TENDINA TRASPARENTE */
    .nav_menu {
        position: absolute;
        display: flex;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.2);
        top: -13rem;
        width: 100%;
        transition: all ease-in-out 0.2s;
    }

    .nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav_menu ul {
        flex-direction: column;
        width: 100%;
        padding: 3rem 0 0.6rem;
    }

    .nav_menu ul li {
        text-align: center;
    }

    .nav_menu {
        z-index: -1;
    }

    .nav_menu:active {
        top: 0;
    }

    .nav_hamburger.active :nth-child(1) {
        transform: rotate(45deg) translate(0.45rem, 0.1875rem);
    }

    .nav_hamburger.active :nth-child(2) {
        opacity: 0;
    }

    .nav_hamburger.active :nth-child(3) {
        transform: rotate(-45deg) translate(0.45rem, -0.1875rem);
    }