body{
    margin: 0;
    padding: 0;
}

.bg{
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0px;
    left: 0px;
    background: url(romy-factory-IsaP_AkBh7U-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -2;
}